.upgrade-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .upgrade-card {
    max-width: 100%;
  }
}

.upgrade-card:hover {
  transform: scale(1.05);
}

.upgrade-card.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
  transform: none;
  background-color: #ddd;
}

.upgrade-card h4 {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  color: #000;
}

.upgrade-card p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #000;
}

.tooltip-container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(20px, -50%);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  display: inline-block;
  white-space: nowrap;
}

.upgrade-card:hover .tooltip-container {
  opacity: 1;
  pointer-events: auto;
}

.tooltip {
  width: max-content;
  max-width: 250px;
  background-color: rgba(150, 150, 150, 1);
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  white-space: normal;
}
